---
interface Props {
	title: string;
	description: string;
	hrefExecutable: string;
	hrefCode: string;
	image: string;
}

const { hrefCode, hrefExecutable, title, description, image } = Astro.props;
---



<div class="card glass w-96">
	<figure>
		<img class="h-80"
		src={image}
		alt="card" />
	</figure>
	<div class="card-body gap-5">
		<h2 class="card-title">{title}</h2>
		<p>{description}</p>
		<div class="card-actions justify-around">
			<a style="font-size: 1.5rem;"target="_blank" class="w-36 btn btn-primary" href={hrefCode}>&lt;/&gt;</a>
			<a style="font-size: 1.5rem;" target="_blank" class="w-36 btn btn-primary" href={hrefExecutable}>▶</a>
		</div>
	</div>
</div>

